<div class="container-fluid" ng-controller = "dashboardCtrl as dc">

    <div class="col-lg-2 col-md-2 col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat = "tab in dc.tabs" ng-class = "{active : dc.isActive(tab.tabUrl)}" ng-click = "dc.onTabClick(tab.tabUrl)" ><a href="javascript:void(0)">{{tab.tabName}}</a></li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10">
        <div ng-include="dc.activeTab"></div>
    </div>
</div>