<div class="container-fluid" ng-controller = "loginCtrl as lc">
    <div id = "forms">
        <h3>Welcome login to continue!</h3>
        <div class="jumbotron col-lg-4 col-md-4" >
            <div class="container">
                <form class="row" novalidate name = "loginForm" ng-submit = "loginForm.$valid ? lc.postLogin() : 'return false'">
                    <div id = "sdfsd">
                        <div id = "errorMessages" ng-show = "loginForm.$submitted">
                            <span ng-show = "loginForm.username.$error.required && loginForm.password.$error.required"> Username/Password is required</span>
                            <span ng-show = "loginForm.password.$error.required && !loginForm.username.$error.required">Password is required</span>
                            <span ng-show = "loginForm.username.$error.required && !loginForm.password.$error.required">Username is required</span>
                            <span ng-show = "lc.showServerMesg">{{lc.serMsg}}</span>
                        </div>   
                    </div>

                    <div class = "form-group">
                        <label>Username</label>
                        <input id = "username" name = "username" class="form-control input-sm" type="text" placeholder="Ex sudhakarreddy99" ng-model = "lc.user.username" required>  
                    </div>
                    <div class = "form-group">
                        <label for="">Password</label>
                        <input id = "password" name = "password" class="form-control input-sm" type="password" ng-model = "lc.user.password" placeholder="Ex Password@123" required>
                    </div>
                    <input id = "sfasdf" type="submit" class="btn btn-primary col-lg-4 col-xs-12" value = "Login">
                </form> 
            </div>
        </div>
    </div>
</div>