<!DOCTYPE html>
<html lang="en">
   <head>
       <link rel="stylesheet" href="styles.css">
   </head>
    <body>
        <h3><%= message%></h3>
         <% include partials/jsincludes.ejs %>
    </body>
</html>