<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div class="container-fluid" >
            <div id = "forms">
                <h3 id = "descrptn"><%= description %></h3>
                <div class="jumbotron col-lg-4 col-md-4" >
                    <div class="container">
                        <div id = "errorMessages" class="row alert alert-danger">
                            <%= errorMsg %> 
                        </div>
                        <form class="row" action = "login" method="post">
                            <div class = "form-group">
                                <label>Username</label>
                                <input id = "username" class="form-control input-sm" type="text" placeholder="Ex sudhakarreddy99">  
                            </div>
                            <div class = "form-group">
                                <label for="">Password</label>
                                <input id = "password" class="form-control input-sm" type="password" placeholder="Ex Password@123">
                            </div>
                            <input id = "sfasdf" type="submit" class="btn col-lg-4 col-xs-12" value = "Login">
                        </form> 
                    </div>
                </div>
            </div>

        </div>
        <% include partials/jsincludes.ejs %>
        <script>
            $(function(){
                $('#errorMessages').css("display","none");
                $('#sfasdf').click(function(event){
                    event.preventDefault();
                    var user = {
                        username : $('#username').val(),
                        password : $('#password').val()
                    };
                    $.post("/login",user, function(data,sts){
                        if(data.status === 'error'){
                            $('#errorMessages').css("display","block");
                            $('#errorMessages').text(data.description);
                        }
                        else if(data.status === 'success'){
                            window.location.href = '/dashboard';
                        }

                    });
                });
            });


        </script>
    </body>



</html>