
#loginErrorMsgs {
    min-height: 35px;
    display: block;
}
#loginErrorMsgs span {
    display: block;
    background: #FA002E;
    color: white;
    padding: 5px;
    text-align: center;
}
.successuser {
    text-align: center;
}
.col-centered {
    float : none;
    margin: 250px auto;
}
.error span {
    color: red;
}
table th {
    background: #c6c6c6;
}

.empTableDiv {
    min-width: 320px;
    overflow-x: scroll;
    min-height: 500px;
    max-height: 500px;
}
th, td { min-width: 40px; }

.emplist td span.glyphicon {
    margin-right: 10px;
    cursor: pointer;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #1cb230;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
    h3,h2,h1,h4,h5,h6 {
        font-size: 15px;
    }
}
.userDropDwn {
    margin-bottom: 0px;
    margin-top: 7px;
}